:root{
    --Brightorange: hsl(31, 77%, 52%);
    --Darkcyan:hsl(184, 100%, 22%);
    --Verydarkcyan: hsl(179, 100%, 13%);
    --paragraphs: hsla(0, 0%, 100%, 0.75);--backgroundHeadingsButtons: hsl(0, 0%, 95%);
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--backgroundHeadingsButtons);
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
}
.sedans, .suvs, .luxury{
    
    width: 220px;
    
}
.sedans img, .suvs img, .luxury img{
    width: 50px;
    margin-top: 25px;
    margin-left: 25px;
}
.sedans h2, .suvs h2, .luxury h2{
   color: var(--backgroundHeadingsButtons);
   margin-left: 25px;
   margin-top: 20px;
   font-family: "Big Shoulders", sans-serif;
   font-weight: 500;
   letter-spacing: 1px;
}
.sedans p, .suvs p, .luxury p{
    color: var(--paragraphs);
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 30px;
    font-size: 15px;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 250;
    text-align: left;
 }
 .sedans button, .suvs button, .luxury button{
    background-color: var(--backgroundHeadingsButtons);
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    margin-top: 65px;
    margin-left: 30px;
    margin-bottom: 30px;
 }
.sedans button{
    color: var(--Brightorange);
}
.suvs button{
    color: var(--Darkcyan);
}
.luxury button{
    color: var(--Verydarkcyan);
}
.sedans{
   background-color: var(--Brightorange);
   border-radius: 10px 0 0 10px;
}
.suvs{
   background-color: var(--Darkcyan);
}
.luxury{
  background-color: var(--Verydarkcyan);
  border-radius: 0 10px 10px 0;
}